<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" id="toc">
      <aside>
        <ol class="toc">
          <li><strong><a href="#title" class="title">RFC {{ rfc_number }}</a></strong></li>
          {% for sect in sections %}
          {% if sect.depth > 1 and loop.previtem is defined and loop.previtem.depth == 1 %}
          <ol>
          {% endif %}
          {% if sect.depth > 2 and loop.previtem is defined and loop.previtem.depth == 2 %}
          <ol>
          {% endif %}
          {% if sect.depth == 1 %}
          <li><a href="{{ sect.href }}">{{ sect.section_number }} {{ sect.title }}</a></li>
          {% else %}
          <li><a href="{{ sect.href }}">{{ sect.title }}</a></li>
          {% endif %}
          {% if loop.nextitem is defined and loop.nextitem.depth <= 2 and sect.depth > 2 %}
          </ol>
          {% endif %}
          {% if loop.nextitem is defined and loop.nextitem.depth == 1 and sect.depth > 1 %}
          </ol>
          {% endif %}
          {% endfor %}
          <ol></ol>
        </ol>
      </aside>
    </div>
    <div class="col-sm-10" id="main">
      <div class="navbar">
        <div class="navbar-inner flex-fill">
          <nav class="container">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="https://datatracker.ietf.org/doc/rfc{{ rfc_number }}/">Official location</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <section>
        <div class="page-header" id="title">
          <h1>
            {{ rfc_title }}
            <small>RFC {{ rfc_number }}</small>
          </h1>
        </div>
        <section class="abstract" id="abstract">
          <h2>Abstract</h2>
          <p>
            {{ abstract }}
          </p>
        </section>
        <section class="authors">
          <h3>Authors</h3>
          <ol>
            <li>Roy T. Fielding, Department of Information and Computer Science fielding@ics.uci.edu</li>
            <li>James Gettys, World Wide Web Consortium jg@w3.org</li>
            <li>Jeffrey C. Mogul, Compaq Computer Corporation mogul@wrl.dec.com</li>
            <li>Henrik Frystyk Nielsen, World Wide Web Consortium frystyk@w3.org</li>
            <li>Larry Masinter, Xerox Corporation masinter@parc.xerox.com</li>
            <li>Paul J. Leach, Microsoft Corporation paulle@microsoft.com</li>
            <li>Tim Berners-Lee, World Wide Web Consortium timbl@w3.org</li>
          </ol>
        </section>
      </section>
      <article>
      {% for sect in rfc.sections %}
        <section id="{{ sect.id }}">
          {% if sect.depth == 1 %}
          <h2>
          {% endif %}
          {% if sect.depth == 2 %}
          <h3>
          {% endif %}
          {% if sect.depth >= 3 %}
          <h4>
          {% endif %}
          {{ sect.title }}
          {% if sect.depth == 1 %}
          </h2>
          {% endif %}
          {% if sect.depth == 2 %}
          </h3>
          {% endif %}
          {% if sect.depth >= 3 %}
          </h4>
          {% endif %}
          {% if sect.text %}
          {% for para in sect.text_paragraphs %}
            <p>{{ para }}</p>
          {% endfor %}
          {% endif %}
        </section>
      {% endfor %}
      </article>
    </div>
  </div>
</div>
</body>
</html>
