body {
  font-size: 13px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.page-header {
  max-width: 50em;
  margin: 18px 0;
  padding-bottom: 17px;
  border-bottom: 1px solid #eee;
}

.navbar {
  max-width: 50em;
  margin-top: 20px;
  margin-bottom: 18px;
  padding-left: 0;
}

.navbar-inner {
  min-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  border-radius: 4px;
}

.navbar .nav>li>a {
  float: none;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 4px 10px 6px;
  display: block;
}

.navbar .nav>li>a:hover {
  color: #fff;
  background-color: #2c2c2c;
}

a.title {
  color: #000;
}

h1 small {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  display: block;
}

@media (min-width: 768px) {
  #toc {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }

  #main {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
}

#toc {
  height: 100%;
}

#main {
  height: 100%;
}

aside ol {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

ol ol {
  list-style: square;
  margin-left: 18px;
  margin-bottom: 9px;
}

ol ol li {
  color: #999;
  line-height: 13px;
  padding-top: 4.33333px;
}

ol ol a {
  color: #333;
}

ol ol ol {
  list-style: none;
}

ol ol ol a {
  color: #999;
  line-height: 13px;
  padding-top: 4.33333px;
}

section {
  max-width: 50em;
}

article {
  counter-reset: chapter;
}

article>section {
  counter-reset: section;
}

article>section>section {
  counter-reset: sub-section;
}

article h2 {
  counter-increment: chapter;
}

article h3 {
  counter-increment: section;
}

article h2::before {
  content: counter(chapter) ". ";
}

article h3::before {
  content: counter(chapter) "." counter(section) ". ";
}

